* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: #fff; /* Set default text color to white */
}

.gradient-background {
    background: linear-gradient(-45deg, red, green, blue, yellow);
    background-size: 400% 400%;
    min-height: 100vh; /* Ensure it covers the full viewport height */
    animation: animate 15s ease infinite;
}

.header {
    padding: 20px 0; /* Added padding for more space */
}

.header ul {
    height: auto; 
    display: flex;
    justify-content: center;
    padding: 20px 0; 
}

.header ul li {
    display: inline-block;
    padding: 20px 30px; 
    position: relative; 
}

.header ul li a {
    color: #fff; /* Text color for navigation links */
    text-decoration: none; 
    font-size: 18px; 
    display: flex; 
    align-items: center; 
}

.header ul li a i {
    margin-right: 10px; 
    font-size: 24px; 
}

.header h2 {
    text-align: center;
    color: #fff; /* Heading color */
    font-size: 60px;
    margin-top: 15%;
    margin-bottom: 20px;
}

.header a button {
    margin: 20px auto; 
    padding: 15px 30px; 
    display: block; 
    background-color: #28a745; 
    color: #fff; /* Button text color */
    border: none; 
    border-radius: 5px; 
    font-size: 20px; 
    cursor: pointer; 
    box-shadow: 0 0 5px #28a745, 0 0 10px #28a745, 0 0 15px #28a745; 
    transition: box-shadow 0.3s ease; 
}

.header a button:hover {
    background: #28a745; 
    box-shadow: 0 0 10px #28a745, 0 0 20px #28a745, 0 0 30px #28a745; 
}

.info-section {
    text-align: center; 
    color: #fff; /* Text color */
    margin-top: 20px; 
    padding: 20px; 
    font-size: 18px; 
}

.section-title {
    text-align: center;
    margin: 40px 0;
    color: #fff; /* Section title color */
}

.line {
    width: 50px;
    height: 4px;
    background: #28a745; 
    margin: 10px auto;
}

 .scrollable-container {
    display: flex;
    flex-direction: column; 
    max-height: 300px; 
    overflow-y: auto; 
    margin: 20px 0; 
}

.service {
    text-align: center;
    margin: 10px 0; 
    padding: 10px; 
    border-radius: 5px; 
}

.about-content {
    text-align: center;
    margin: 40px 0; 
    color: #fff; 
}

footer {
    background: transparent; 
    color: #fff; 
    padding: 20px 0; 
    text-align: center;
    min-height: 50px; 
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 20px 0; 
}

.footer-links li {
    display: inline;
    margin: 0 15px;
}

.footer-links a {
    color: #fff; 
    text-decoration: none;
}

@keyframes animate {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}